# API Server
# You must export the API key as an environment variable named OPENAI_KEY

# Local server example
host: 127.0.0.1
port: 8080
insecure: True

#host: api.endpoints.anyscale.com
#port: 443
#insecure: False

# Model settings
model_name: WizardLM-2-8x22B
temperature: 1.1 # 0.1-2.0
max_tokens: 0 # 0-4096
top_p: 1

# Logging
logging: true
log_level: info
log_path: logs

# Personas
persona_default: grumpy
persona_path: personas
persona_extension: persona

# Templates
template_path: templates
template_extension: tmpl
