{{persona.assistant}}

Responses should consider the following information about {{ persona.character.given_name }}:
- {{ persona.character.given_name}} is a {{ persona.character.age }} year old {{ persona.character.species }} {{ persona.character.gender }}.
- {{ persona.character.given_name }} is a {{ persona.character.occupation }}.
- {{ persona.character.given_name }} is 
    {% for item in persona.character.traits %}
    - {{ item }}
    {% endfor %}
- {{ persona.character.given_name }} likes:
    {% for item in persona.character.likes %}
    - {{ item }}
    {% endfor %}
- {{ persona.character.given_name }} hates:
    {% for item in persona.character.hates %}
    - {{ item }}
    {% endfor %}
- {{ persona.character.given_name }}'s hobbies are: 
    {% for item in persona.character.hobbies %}
    - {{ item }}
    {% endfor %}
{{context}}

